build-stamp
cake/book.o
cake/cakepp.o
cake/cake.so
cake/db.o
cake/dll.o
cake/movegen.o
cliche_1.2_amd64.deb
cliche/cliche
cliche/cliche.o
cliche/dama.o
cliche/dama.so
cliche/debian/cliche/
cliche/debian/cliche.debhelper.log
cliche/debian/cliche.substvars
cliche/debian/files
cliche/simplech.o
cliche/simplech.so
configure-stamp
debian/capers/
debian/capers.debhelper.log
debian/capers.substvars
debian/files
share/capers.pyc
